    /*RESET*/
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        /* color:  #10ac84;
        font-weight: 600; */
    }
    
        /* Chung  */
    a{
        text-decoration: none !important;
    }
    
    
        /* 
        Header
        content
        footer
        */
    
    
    @keyframes comeModal {
        from{
            opacity: 0;
            transform: translateY(-150px);
        }
        to{
            opacity: 1;
            transform: translateY(0);
        }
    }
        /*Đầu Đăng Ký  */
    .header-dn::after{
        content: "";
        display: block;
        clear: both;
    }
    .header-dn .title{
        margin-left: 50px;
        margin-right: 50px;
        font-size: 20px;
        line-height: 50px;
    }
    .header-dn .close{
        font-size: 18px;
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
    }

    
    
    /* FONT ĐĂNG NHẬP */
    #khuon-dn{
        position: fixed;
        top: 0;
        right: 0;
        left: 0 ;
        bottom: 0;
        width: 300px;
        height: 350px;
        border: 1px solid black;
        background-color: aliceblue;
        margin: auto;
        /* display: none; */
        animation: comeModal ease 1s;
    }
    
            /* ĐÀU ĐĂNG NHẬP */
    #khuon-dn .header-dn{
        width: 100%;
        height: 50px;
    }
    
            /* THÂN ĐĂNG NHẬP */
    #khuon-dn .font-dn{
        width: 100%;
        height: 250px;
    }
    .font-dn .dn-ttin{
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
    }
    .font-dn .ip-dn{
        width: 100%;
        padding: 10px;
        border-radius:4px ;
    }
    .font-dn .sbm-dn{
        width: 100%;
        padding: 5px;
    }
    .footer-dn{
        text-align: center  ;
    }